<div class="container">
    <h1>Create New Product</h1>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group mb-2">
            <label for="name">Product Name:</label>
            <input 
                id="name" 
                type="text" 
                class="form-control" 
                formControlName="name" 
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.invalid }"
            >
            <div class="invalid-feedback d-block" *ngIf="f.name.touched && f.name.invalid && f.name.errors?.['required']">Name is required.</div>
            <div class="invalid-feedback d-block" *ngIf="f.name.touched && f.name.invalid && f.name.errors?.['minlength']">Name must contain minimum 5 characters.</div>
            <div class="invalid-feedback d-block" *ngIf="f.name.touched && f.name.invalid && f.name.errors?.['maxlength']">Name must contain maximum 50 characters.</div>
        </div>
  
        <div class="form-group mb-2">
            <label for="description">Description</label>
            <textarea 
                type="text" 
                id="description" 
                class="form-control" 
                formControlName="description" 
                [ngClass]="{ 'is-invalid': f.description.touched && f.description.invalid }"
            >
            </textarea>
            <div class="invalid-feedback d-block" *ngIf="f.description.touched && f.description.invalid && f.description.errors?.['required']">Description is required.</div>
            <div class="invalid-feedback d-block" *ngIf="f.description.touched && f.description.invalid && f.description.errors?.['minlength']">Description must contain minimum 5 characters.</div>
            <div class="invalid-feedback d-block" *ngIf="f.description.touched && f.description.invalid && f.description.errors?.['maxlength']">Description must contain maximum 100 characters.</div>
        </div>

        <div class="form-group mb-2">
            <label for="company">Company</label>
            <input 
                type="text" 
                id="company" 
                class="form-control" 
                formControlName="company" 
                [ngClass]="{ 'is-invalid': f.company.touched && f.company.invalid }"
            >
            <div class="invalid-feedback d-block" *ngIf="f.company.touched && f.company.invalid && f.company.errors?.['required']">Company is required.</div>
        </div>
        
        <div class="form-group mb-2">
            <label for="price">Price</label>
            <input 
                id="price" 
                type="text" 
                class="form-control" 
                formControlName="price" 
                [ngClass]="{ 'is-invalid': f.price.touched && f.price.invalid }"
            >
            <div class="invalid-feedback d-block" *ngIf="f.price.touched && f.price.invalid && f.price.errors?.['required']">Price is required.</div>
            <div class="invalid-feedback d-block" *ngIf="f.price.touched && f.price.invalid && f.price.errors?.['pattern']">Price must be numeric.</div>
        </div>

        <div class="form-group mb-2">
            <label for="quantity">Quantity</label>
            <input 
                type="text" 
                id="quantity" 
                class="form-control" 
                formControlName="quantity" 
                [ngClass]="{ 'is-invalid': f.quantity.touched && f.quantity.invalid }"
            >
            <div class="invalid-feedback d-block" *ngIf="f.quantity.touched && f.quantity.invalid && f.quantity.errors?.['required']">Quantity is required.</div>
            <div class="invalid-feedback d-block" *ngIf="f.quantity.touched && f.quantity.invalid && f.quantity.errors?.['pattern']">Quantity must be numeric.</div>
        </div>
  
        <div class="d-flex justify-content-around my-3">
            <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>