<h1 class="text-center mb-3">Nityo Assessment Task</h1>
<div class="d-flex justify-content-center gap-3">
    <a href="#" routerLink="/product/index" class="btn btn-info mb-2 shadow-none" placement="top" ngbTooltip="Without Database">PRODUCT</a>
    <a href="#" routerLink="/post/index" class="btn btn-info mb-2 shadow-none" placement="top" ngbTooltip="With Database">ARTICLE</a>
    <a href="#" routerLink="/user/index" class="btn btn-info mb-2 shadow-none" placement="top" ngbTooltip="With Database">USER</a>
</div>
<router-outlet></router-outlet>